In [56]:
import pandas as pd

In [57]:
#movie = pd.read_csv('data/movie.csv', index_col='movie_title')
movie = pd.read_csv('data/movie.csv')

In [58]:
movie.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [6]:
columns = movie.columns

In [7]:
columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [9]:
data=movie.values

In [10]:
data

array([['Color', 'James Cameron', 723.0, ..., 7.9, 1.78, 33000],
       ['Color', 'Gore Verbinski', 302.0, ..., 7.1, 2.35, 0],
       ['Color', 'Sam Mendes', 602.0, ..., 6.8, 2.35, 85000],
       ...,
       ['Color', 'Benjamin Roberds', 13.0, ..., 6.3, nan, 16],
       ['Color', 'Daniel Hsia', 14.0, ..., 6.3, 2.35, 660],
       ['Color', 'Jon Gunn', 43.0, ..., 6.6, 1.85, 456]], dtype=object)

In [12]:
type(index)

pandas.core.indexes.range.RangeIndex

In [13]:
type(columns)

pandas.core.indexes.base.Index

In [14]:
type(data)

numpy.ndarray

In [11]:
issubclass(pd.RangeIndex, pd.Index)

True

In [15]:
movie.dtypes

color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object

In [16]:
movie.get_dtype_counts()

float64    13
int64       3
object     12
dtype: int64

In [17]:
movie.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [18]:
movie['director_name']

0            James Cameron
1           Gore Verbinski
2               Sam Mendes
3        Christopher Nolan
4              Doug Walker
5           Andrew Stanton
6                Sam Raimi
7             Nathan Greno
8              Joss Whedon
9              David Yates
10             Zack Snyder
11            Bryan Singer
12            Marc Forster
13          Gore Verbinski
14          Gore Verbinski
15             Zack Snyder
16          Andrew Adamson
17             Joss Whedon
18            Rob Marshall
19        Barry Sonnenfeld
20           Peter Jackson
21               Marc Webb
22            Ridley Scott
23           Peter Jackson
24             Chris Weitz
25           Peter Jackson
26           James Cameron
27           Anthony Russo
28              Peter Berg
29         Colin Trevorrow
               ...
4886            Eric Eason
4887              Uwe Boll
4888     Richard Linklater
4889       Joseph Mazzella
4890          Travis Legge
4891         Alex Kendrick
4892         Marcus Nispel
4893       Brandon Landers
4894           Jay Duplass
4895            Jim Chuchu
4896            Daryl Wein
4897           Jason Trost
4898           John Waters
4899       Olivier Assayas
4900          Jafar Panahi
4901         Ivan Kavanagh
4902      Kiyoshi Kurosawa
4903          Tadeo Garcia
4904    Thomas L. Phillips
4905       Ash Baron-Cohen
4906         Shane Carruth
4907      Neill Dela Llana
4908      Robert Rodriguez
4909       Anthony Vallone
4910          Edward Burns
4911           Scott Smith
4912                   NaN
4913      Benjamin Roberds
4914           Daniel Hsia
4915              Jon Gunn
Name: director_name, Length: 4916, dtype: object

In [19]:
movie.director_name

0            James Cameron
1           Gore Verbinski
2               Sam Mendes
3        Christopher Nolan
4              Doug Walker
5           Andrew Stanton
6                Sam Raimi
7             Nathan Greno
8              Joss Whedon
9              David Yates
10             Zack Snyder
11            Bryan Singer
12            Marc Forster
13          Gore Verbinski
14          Gore Verbinski
15             Zack Snyder
16          Andrew Adamson
17             Joss Whedon
18            Rob Marshall
19        Barry Sonnenfeld
20           Peter Jackson
21               Marc Webb
22            Ridley Scott
23           Peter Jackson
24             Chris Weitz
25           Peter Jackson
26           James Cameron
27           Anthony Russo
28              Peter Berg
29         Colin Trevorrow
               ...
4886            Eric Eason
4887              Uwe Boll
4888     Richard Linklater
4889       Joseph Mazzella
4890          Travis Legge
4891         Alex Kendrick
4892         Marcus Nispel
4893       Brandon Landers
4894           Jay Duplass
4895            Jim Chuchu
4896            Daryl Wein
4897           Jason Trost
4898           John Waters
4899       Olivier Assayas
4900          Jafar Panahi
4901         Ivan Kavanagh
4902      Kiyoshi Kurosawa
4903          Tadeo Garcia
4904    Thomas L. Phillips
4905       Ash Baron-Cohen
4906         Shane Carruth
4907      Neill Dela Llana
4908      Robert Rodriguez
4909       Anthony Vallone
4910          Edward Burns
4911           Scott Smith
4912                   NaN
4913      Benjamin Roberds
4914           Daniel Hsia
4915              Jon Gunn
Name: director_name, Length: 4916, dtype: object

In [23]:
print(type(movie['director_name']))
print(type(movie.director_name))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [25]:
 director = movie['director_name']
print(director.name) 
#'director_name'
#It is possible to turn this Series into a one-col

director_name

In [45]:
print(director.dtypes)
print(director.head())

object
0        James Cameron
1       Gore Verbinski
2           Sam Mendes
3    Christopher Nolan
4          Doug Walker
Name: director_name, dtype: object

In [47]:
#director_df=director.to_frame()
print(director_df.dtypes)

director_name    object
dtype: object

In [44]:
director_df.head()

       director_name
0      James Cameron
1     Gore Verbinski
2         Sam Mendes
3  Christopher Nolan
4        Doug Walker

In [4]:
actor_1_fb_likes = movie['actor_1_facebook_likes']

In [6]:
director = movie['director_name']

In [19]:
director.size

4916

In [7]:
director.head()

0        James Cameron
1       Gore Verbinski
2           Sam Mendes
3    Christopher Nolan
4          Doug Walker
Name: director_name, dtype: object

In [28]:
director.value_counts().head()

Steven Spielberg    26
Woody Allen         22
Clint Eastwood      20
Martin Scorsese     20
Ridley Scott        16
Name: director_name, dtype: int64

In [32]:
actor_1_fb_likes.quantile(.2)

510.0

In [29]:
director.count()

4814

In [27]:
director.hasnans

True

In [30]:
director.size

4916

In [23]:
director.isnull().head(5)

0    False
1    False
2    False
3    False
4    False
Name: director_name, dtype: bool

In [22]:
director.notnull().head(5)

0    True
1    True
2    True
3    True
4    True
Name: director_name, dtype: bool

##### Drop NA

In [51]:
director_noNA = director.dropna()

In [65]:
print("Size of Original Data ",director.size)
print("Count of Original Data ",director.count())
print("Data has NaN's director.hasnans ",director.hasnans)
print()
print("Size of Data after removing NAs ",director_noNA.size)
print("Count of Data after removing NAs ",director_noNA.count())
print("Data has NaN's director.hasnans ",director_noNA.hasnans)

Size of Original Data  4916
Count of Original Data  4814
Data has NaN's director.hasnans  True

Size of Data after removing NAs  4814
Count of Data after removing NAs  4814
Data has NaN's director.hasnans  False

#### Replace NA's

In [57]:
director_ReplaceNAs = director.fillna(0)

In [64]:
print("Size of Original Data ",director.size)
print("Count of Original Data ",director.count())
print("Data has NaN's director.hasnans ",director.hasnans)
print()
print("Count of Data after removing NAs ",director_ReplaceNAs.count())
print("Size of Data after removing NAs ",director_ReplaceNAs.size)
print("Data has NaN's director_noNA.hasnans ",director_noNA.hasnans)

Size of Original Data  4916
Count of Original Data  4814
Data has NaN's director.hasnans  True

Count of Data after removing NAs  4916
Size of Data after removing NAs  4916
Data has NaN's director_noNA.hasnans  False

##### 9. Renaming row and column names

In [9]:
#Create Dictionary to replace Column and Index Names with corresponding Values

idx_rename = {'Avatar':'Avatar  The Last Air Bender'}
col_rename = {'director_name':'Director Name'}
movie_renamed = movie.rename(index=idx_rename, columns=col_rename)
movie_renamed.head()

,color,Director Name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
Avatar The Last Air Bender,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
Spectre,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
The Dark Knight Rises,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
Star Wars: Episode VII - The Force Awakens,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

#### Alternate Approach to replace the list of index and columsn with new List

# Alternate Approach 
>>> movie = pd.read_csv('data/movie.csv', index_col='movie_title')
>>> index = movie.index
>>> columns = movie.columns

>>> index_list = index.tolist()
>>> column_list = columns.tolist()

# rename the row and column labels with list assignments
>>> index_list[0] = 'Ratava'
>>> index_list[2] = 'Ertceps'
>>> column_list[1] = 'Director Name'
>>> column_list[2] = 'Critical Reviews'

>>> print(index_list)
['Ratava', "Pirates of the Caribbean: At World's End", 'Ertceps', 'The Dark Knight Rises', ... ]

>>> print(column_list)
['color', 'Director Name', 'Critical Reviews', 'duration', ...]

# finally reassign the index and columns
>>> movie.index = index_list
>>> movie.columns = column_list

##### 10.	Creating and deleting columns

In [59]:
# Creting a column containing the aggregate of the likes of columns 
# 'actor_1_facebook_likes' +
# 'actor_2_facebook_likes' +
# 'actor_3_facebook_likes' + 
# 'director_facebook_likes'

movie['actor_director_facebook_likes']= (movie['actor_1_facebook_likes'] +
movie['actor_2_facebook_likes'] +
movie['actor_3_facebook_likes'] + 
movie['director_facebook_likes'])

In [60]:
movie[['actor_1_facebook_likes',
       'actor_2_facebook_likes',
       'actor_3_facebook_likes',
       'director_facebook_likes',
       'actor_director_facebook_likes']].head()

,actor_1_facebook_likes,actor_2_facebook_likes,actor_3_facebook_likes,director_facebook_likes,actor_director_facebook_likes
0,1000.0,936.0,855.0,0.0,2791.0
1,40000.0,5000.0,1000.0,563.0,46563.0
2,11000.0,393.0,161.0,0.0,11554.0
3,27000.0,23000.0,23000.0,22000.0,95000.0
4,131.0,12.0,NaN,131.0,NaN

In [61]:
movie = movie.fillna(0)

movie['actor_director_facebook_likes']= (movie['actor_1_facebook_likes'] +
movie['actor_2_facebook_likes'] +
movie['actor_3_facebook_likes'] + 
movie['director_facebook_likes'])

movie[['actor_1_facebook_likes',
       'actor_2_facebook_likes',
       'actor_3_facebook_likes',
       'director_facebook_likes',
       'actor_director_facebook_likes']].head()

,actor_1_facebook_likes,actor_2_facebook_likes,actor_3_facebook_likes,director_facebook_likes,actor_director_facebook_likes
0,1000.0,936.0,855.0,0.0,2791.0
1,40000.0,5000.0,1000.0,563.0,46563.0
2,11000.0,393.0,161.0,0.0,11554.0
3,27000.0,23000.0,23000.0,22000.0,95000.0
4,131.0,12.0,0.0,131.0,274.0

In [62]:
movie['actor_director_facebook_likes'].isnull().sum()

0

In [63]:
movie['actor_director_facebook_likes'] = movie['actor_director_facebook_likes'].fillna(0)

In [64]:
movie[['actor_1_facebook_likes','actor_director_facebook_likes']].head()

   actor_1_facebook_likes  actor_director_facebook_likes
0                  1000.0                         2791.0
1                 40000.0                        46563.0
2                 11000.0                        11554.0
3                 27000.0                        95000.0
4                   131.0                          274.0

In [65]:
movie['is_cast_likes_more'] = (movie['cast_total_facebook_likes'] >= movie['actor_director_facebook_likes'])

In [66]:
movie['is_cast_likes_more'].all()

False

In [67]:
>>> movie = movie.drop('actor_director_facebook_likes',
                       axis='columns')

#    Let's recreate a column of just the total actor likes:

>>> movie['actor_total_facebook_likes'] = \
         (movie['actor_1_facebook_likes'] + 
          movie['actor_2_facebook_likes'] + 
          movie['actor_3_facebook_likes'])

>>> movie['actor_total_facebook_likes'] = \
         movie['actor_total_facebook_likes'].fillna(0)

#    Check again whether all the values in cast_total_facebook_likes are greater than the actor_total_facebook_likes:

>>> movie['is_cast_likes_more'] = \
         (movie['cast_total_facebook_likes'] >= 
          movie['actor_total_facebook_likes'])
    
>>> movie['is_cast_likes_more'].all()
#True

#    Finally, let's calculate the percentage of the cast_total_facebook_likes that come from actor_total_facebook_likes:

>>> movie['pct_actor_cast_like'] = \
         (movie['actor_total_facebook_likes'] / 
          movie['cast_total_facebook_likes'])

In [68]:
#     validate that the min and max of this column fall between 0 and 1:
>>> (movie['pct_actor_cast_like'].min(), movie['pct_actor_cast_like'].max())

(0.3007669557371297, 1.0)

In [69]:
movie.set_index('movie_title')['pct_actor_cast_like'].head()

movie_title
Avatar                                        0.577369
Pirates of the Caribbean: At World's End      0.951396
Spectre                                       0.987521
The Dark Knight Rises                         0.683783
Star Wars: Episode VII - The Force Awakens    1.000000
Name: pct_actor_cast_like, dtype: float64

In [70]:
# Adding a column to a specific location
# The insert method modifies the calling DataFrame in-place, so there won't be an assignment statement.

In [71]:
# The profit of each movie may be calculated by subtracting budget from gross and 
# inserting it directly after gross with the following:

profit_index = movie.columns.get_loc('gross') + 1
profit_index

movie.insert(loc=profit_index,
                 column='profit',
                 value=movie['gross'] - movie['budget'])

movie.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,profit,...,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,is_cast_likes_more,actor_total_facebook_likes,pct_actor_cast_like
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,523505847.0,...,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000,True,2791.0,0.577369
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,9404152.0,...,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0,True,46000.0,0.951396
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,-44925825.0,...,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000,True,11554.0,0.987521
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,198130642.0,...,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000,True,73000.0,0.683783
4,0,Doug Walker,0.0,0.0,131.0,0.0,Rob Walker,131.0,0.0,0.0,...,0,0.0,0.0,12.0,7.1,0.00,0,True,143.0,1.000000

In [73]:
# An alternative to deleting columns with the drop method is to use the del statement:

del movie['profit']